<div class="container-fluid">
    <h2 class="text-center">Inspire us with a new Quote</h2>
    <hr>

    <form (ngSubmit) = 'submitQuote()' #quoteForm ='ngForm'>
        <div class="form-group">
  
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author"  [(ngModel)]= "newQuote.author" name="author" #author= 'ngModel'>
            <div [hidden] ="author.valid || author.pristine" class="alert alert-danger">
                <p>Please enter name of the author</p>
            </div>
  
        </div>
        <div class="form-group">
            
            <label for="submission">Submitted By</label>
            <input type="text" required class="form-control" id="submission" [(ngModel)] ="newQuote.submittedBy" name = "submission" #submission = 'ngModel'>
            <div [hidden] ="submission.valid || submission.pristine" class="alert alert-danger">
                <p>Please enter your name</p>
            </div>
            
  
        </div>
        <div class="form-group">

            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="4" [(ngModel)] = "newQuote.quote" name="quote" #quote = 'ngModel' required></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Please inspire us with your quote!</p>
              </div>
           
  
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>
  
  
